<h1>New Menu</h1>

<%= form_for @menu do |f| %>
    <%= f.label :appetizer %>
    <%= f.text_field :appetizer %>
    <%= f.label :entree %>
    <%= f.text_field :entree %>
    <%= f.label :drinks %>
    <%= f.text_field :drinks %>
    <%= f.label :dessert %>
    <%= f.text_field :dessert %>
    <%= f.submit %>
<%end%>

  
